<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Small URL</title>
        <link href= "{{url_for("static", filename="main.css")}}" rel="stylesheet" />
    </head>
    <body>
        <h1>Shorten your URL</h1>
        <form method="POST">
            <input
                type="text"
                id="url"
                name="url_input"
                required
                pattern="https?:\/\/.*"
            />
            <p class="input_advice">A valid url must begin with http:// or https://.</p>
            <button>Shorten</button>
        </form>
        <table>
        {% for original, code in registered_urls%}
            <tr>
                <td>{{original}}</td>
                <td>{{code}}</td>
            </tr>
        {%endfor%}
        </table>
    </body>
</html>

